body {
  background-image: url(assets/catdog.jpg);
}

.half-container {
  margin: 0 16em;
}

#mainText {
  color: red;
}

#ourTable {
  border-collapse: collapse;
  cursor: pointer;
}

#ourTable td,
#ourTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ourTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#ourTable tr:hover {
  background-color: #ddd;
}

a {
  color: white;
}
